{{ error }}
<div id="cogs_container">
    <div class="container">
        <div class="cog_card heading_card">
            <h2 id="cogs_heading">Cogs</h2>
        </div>
        {% for cog in cogRegistry %}
        <div class="cog_card context_{{ cog.name|lower }}">
            <h3 class="cog_heading context_{{ cog.name|lower }}">{{ cog.name }}</h3>
            <ul>
                {% if cog.running %}
                <li>
                    Running
                </li>
                {% elif not cog.loaded %}
                <li class="context_error">
                    Not found
                </li>
                {% endif %}
                {% if not cog.enabled %}
                <li>
                    Disabled
                </li>
                {%endif%}
                {% if cog.error %}
                <li class="context_error">
                    Error!
                </li>
                {% endif %}
                <li class="card_timestamp">
                    Last loaded or run:<br />
                    {{ cog.lastRun }}
                </li>
            </ul>
            <ul>
            {% if cog.loaded %}
                {% if cog.running %}
                <button class=""CogRunner"
                        onClick="RPCOperation('cogs', 'run', '{{ cog.name }}')">
                    Run Now
                </button><br />
                <button class="CogUnloader"
                        onClick="RPCOperation('cogs', 'unload', '{{ cog.name }}')">
                    Unload
                </button><br />
                {% elif cog.enabled and not cog.error %}
                <button class="CogLoader"
                        onClick="RPCOperation('cogs', 'load', '{{ cog.name }}')">
                    Load
                </button><br />
                {% endif %}
                <button class="CogReloader"
                        onClick="RPCOperation('cogs', 'reload', '{{ cog.name }}')">
                    Reload
                </button><br />
                <button class="AttributeToggler"
                        onClick="RPCOperation('cogs', '{% if cog.enabled %}disable{% else %}enable{% endif %}', '{{ cog.name }}')">
                    {% if cog.enabled %}Disable{% else %}Enable{% endif %}
                </button><br />
                {% if cog.error %}
                <button class="AttributeToggler"
                        onClick="RPCOperation('cogs', 'clear', '{{ cog.name }}')">
                    Reset
                </button><br />
                {% endif %}
            {% else %}
                <button class="CogRemover"
                        onClick="RPCOperation('cogs', 'remove', '{{ cog.name }}')">
                    Remove
                </button><br />
            {% endif %}
            </ul>
        </div>
        {% empty %}
        None
        <br />
        {% endfor %}
    </div>
</div>
