* {
    font-family: 'IosevkaLightExtended' !important;
}

body, button {
    background-color: #181a1b;
    color: #e8e6e3;
}

#daemon_status {
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
}

#graph {
    height: 100vh;
    overflow: hidden;
}

#rpc_host {
    width: 10rem;
}

hr {
    clear: both;
}

h1 {
    color: white;
}

h2 {
    margin: .85em 1em;
    color: white;
}

h3 {
    text-align: center;
    color: white;
}

button {
    width: 5.5rem;
    margin: .4rem;
}

#cogs_container {
    margin: auto;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container>* {
    flex: 1 1 26rem;
    gap: 1em;
}

#cogs_heading {
    font-size: 3.5em;
    margin-bottom: 0;
    margin-top: .2em;
    height: 100%;
}

.heading_card {
    background-color: rgba(0, 0, 0, 0.00) !important;
    justify-content: unset !important;
}

.cog_card {
    background-color: black;
    display: inline-flex;
    max-width: 26rem;
    max-height: 8rem;
    margin: 1em;
    padding: 0 0.5em;
    justify-content: center;
}

.cog_card ul {
    padding-left: 0.5em;
}

ul li {
    list-style: none;
}

.cog_heading {
    width: 5.5em;
    overflow: hidden;
    word-wrap: break-word;
}

.carg_timestamp_container {
    position: relative;
}

.card_timestamp {
    margin-top: 1em;
}

#footer_wrapper {
    position: fixed;
    top: 100%;
    width: 100%;
    resize: vertical;
    height: 13.5em;
    margin-top: -13.5em;
    background-color: black;
    overflow: hidden;
}

#footer {
    display: flex;
    top: 100%;
    width: 100%;
    height: 100%;
    margin-top: -1.5em;
}

#footer_hider {
    position:inherit;
    width: 100%;
    margin-left: -.4em;
    height: 1em;
    background-color: gray;
    box-shadow: 0 1em 1em .4em black, 0 2em 2em 1em black;
}

#logs_wrapper {
    width: 100%;
    height:100%;
    margin-top: 2.5em;
    overflow:scroll;
}

#logs {
    margin-top: 100%;
}

.logMessage {
    float: left;
}

.timestamp {
    float: right;
    color: darkgray;
    width: 16em;
    height: 1em;
}

.floatfix {
    clear: both;
}

.disconnected {
    color: #656565;
}

#daemon_info {
    z-index: 100;
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:1em 1em 0.5em;
    width: 10em;
}

.gear_header{
    position: absolute;
    left: 7rem;
    top:  -2.5rem;
}

.gearcontainer {
  height: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left; }

.DEBUG {
    background-color: #080a0b;
}

.INFO {
    background-color: #00000A;
}

.ERROR {
    background-color: #500;
}

.ERROR .logMessage {
    color: white !important;
}

.WARN, .WARNING {
    background-color: #530;
}

.WARN .logMessage, .WARNING .logMessage {
    color: white !important;
}

.EXCEPTION {
    background-color: red;
}

.EXCEPTION .logMessage {
    color: white !important;
}

.machine {
  width: 8vmin;
  fill: #FFF}

.small-shadow, .medium-shadow, .large-shadow {
  fill: rgba(0, 0, 0, 0.05); }

.small {
  -webkit-animation: counter-rotation 2.5s infinite linear;
       -moz-animation: counter-rotation 2.5s infinite linear;
         -o-animation: counter-rotation 2.5s infinite linear;
            animation: counter-rotation 2.5s infinite linear;
  -webkit-transform-origin: 100.136px 225.345px;
      -ms-transform-origin: 100.136px 225.345px;
          transform-origin: 100.136px 225.345px; }

.small-shadow {
  -webkit-animation: counter-rotation 2.5s infinite linear;
       -moz-animation: counter-rotation 2.5s infinite linear;
         -o-animation: counter-rotation 2.5s infinite linear;
            animation: counter-rotation 2.5s infinite linear;
  -webkit-transform-origin: 110.136px 235.345px;
      -ms-transform-origin: 110.136px 235.345px;
          transform-origin: 110.136px 235.345px; }

.medium {
  -webkit-animation: rotation 3.75s infinite linear;
       -moz-animation: rotation 3.75s infinite linear;
         -o-animation: rotation 3.75s infinite linear;
            animation: rotation 3.75s infinite linear;
  -webkit-transform-origin: 254.675px 379.447px;
      -ms-transform-origin: 254.675px 379.447px;
          transform-origin: 254.675px 379.447px; }

.medium-shadow {
  -webkit-animation: rotation 3.75s infinite linear;
       -moz-animation: rotation 3.75s infinite linear;
         -o-animation: rotation 3.75s infinite linear;
            animation: rotation 3.75s infinite linear;
  -webkit-transform-origin: 264.675px 389.447px;
      -ms-transform-origin: 264.675px 389.447px;
          transform-origin: 264.675px 389.447px; }

.large {
  -webkit-animation: counter-rotation 5s infinite linear;
     -moz-animation: counter-rotation 5s infinite linear;
         -o-animation: counter-rotation 5s infinite linear;
            animation: counter-rotation 5s infinite linear;
  -webkit-transform-origin: 461.37px 173.694px;
      -ms-transform-origin: 461.37px 173.694px;
          transform-origin: 461.37px 173.694px; }

.large-shadow {
  -webkit-animation: counter-rotation 5s infinite linear;
       -moz-animation: counter-rotation 5s infinite linear;
         -o-animation: counter-rotation 5s infinite linear;
            animation: counter-rotation 5s infinite linear;
  -webkit-transform-origin: 471.37px 183.694px;
      -ms-transform-origin: 471.37px 183.694px;
          transform-origin: 471.37px 183.694px; }

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to   {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to   {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

@-webkit-keyframes counter-rotation {
    from {-webkit-transform: rotate(359deg);}
    to   {-webkit-transform: rotate(0deg);}
}
@-moz-keyframes counter-rotation {
    from {-moz-transform: rotate(359deg);}
    to   {-moz-transform: rotate(0deg);}
}
@-o-keyframes counter-rotation {
    from {-o-transform: rotate(359deg);}
    to   {-o-transform: rotate(0deg);}
}
@keyframes counter-rotation {
    from {transform: rotate(359deg);}
    to   {transform: rotate(0deg);}
}
